<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="access_stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--
          Using the AccessEventCompositeJsonEncoder instead of LogstashAccessEncoder since
          we want to add custom fields that receive their values from the request attributes.
        -->
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <!--
                  Configuring the default Logstash providers in the same order as LogstashAccessEncoder.
                  Messages are added after the custom fields
                -->
                <timestamp/>
                <version/>
                <method/>
                <protocol/>
                <statusCode/>
                <requestedUrl/>
                <requestedUri/>
                <remoteHost/>
                <contentLength/>
                <elapsedTime/>

                <!--
                  Adding custom fields
                -->
                <threadName/>
                <pattern>
                    <pattern>
                        {
                        "application_version": "%requestAttribute{application_version}",
                        "request_id": "%requestAttribute{request_id}",
                        "request_id_type": "%requestAttribute{request_id_type}",
                        "token_audience": "%requestAttribute{token_audience}",
                        "token_azp_name": "%requestAttribute{token_azp_name}",
                        "token_consumer": "%requestAttribute{token_consumer}",
                        "token_issuer": "%requestAttribute{token_issuer}",
                        "token_roles": "%requestAttribute{token_roles}",
                        "token_scope": "%requestAttribute{token_scope}",
                        "token_subject": "%requestAttribute{token_subject}"
                        }
                    </pattern>
                </pattern>

                <!--
                  Adding message at end. Makes it easier to find for people not using JQ or similar
                -->
                <message/>
            </providers>
        </encoder>
    </appender>

    <appender-ref ref="access_stdout"/>
</configuration>
